body {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}
form {
  display:flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

/*////////////////////////////*/
/* ---------- PAGES ----------*/
/*////////////////////////////*/


/* ---- PAGE GLOBALS ---- */

.leave-room-for-jesus-i-mean-navbar {
  display: grid;
  grid-template-columns: 180px 1fr;
  padding: 1em;
  transition: grid-template-columns 0.25s;
}

.openbtn {
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 1.6em;
  vertical-align: top;
  top: 0;
  left: 0;
  border:none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.3em;
  color: black;
  background: thistle;
  padding-top: 6px;
  transition: color ease-in-out 0.3s;
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
}

.openbtn:hover {
  color: white;
}

/* */

/* ---- HOMEPAGE ---- */

.homepage {
  height: 100vh;
  background-color: rosybrown;
}

.dashboard {
  display: flex;
  flex-flow: column wrap;
  justify-content:flex-start;
  align-items: flex-start;
}

/* */

/* -- AUTH (LOGIN & SIGNUP) -- */

.auth-page {
  height: 100vh;
  background-color: yellowgreen;

}

/* */

/* ---- PROFILE ---- */

.profile-page {
  height: 100vh;
  background-color: mediumseagreen;
  padding: 0;
}
.profile-main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.profile-column{
  width: 70%;
  min-width: 450px;
  height: 100%;
  margin: 0;
  background-color: white;
  display:flex;
  flex-flow: column wrap;
  justify-content: flex-start;
}

.profile-top{
  z-index:2;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 150px;
  justify-items: center;
  align-items: end;
  background-size: cover;
  background-position: center;
  padding-bottom:10px;
}

.profile-image-box{
  margin-left: 10px;
  margin-bottom:-30px;
  width: 10vw;
  height: 10vw;
  min-width: 80px;
  min-height: 80px;
  max-width: 150px;
  max-height: 150px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 4px solid white;
  border-radius: 50%;
  background-color: white;
}

.profile-image{
  width: 120%;
  height: 120%;
  margin: 0.5em;
}
.profile-titlecard{
  width: 100%;
  justify-self: self-start;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: flex-start;
  color: white;
  text-shadow: black 0 0 4px;
}
.profile-titlecard h1, .profile-top h3 {
  max-width: 70%;
  min-width: 350px;
  margin: 0 0 0 15px;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile-detail-box{
  margin: 0.3em 0;
  padding: 1.5em 0;
  background-color: lightgray;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 1em;
  justify-items: center;
  align-items: center;
}

.profile-editbtn-box {
  margin-left: 10px;
  width: 108px;
  text-align: center;
}

.profile-editbtn {
  margin-top: 1em;
}

.profile-details h6 {
  padding: 0;
  margin: 0 2em 0 0;
  text-align: right;
  justify-self: end;
  font-weight: normal;
}

.profile-details {
  width: 100%;
}

.profile-about-box {
  margin: 0.3em 0;
  padding: 1.5em 0;
  background-color: lightgray;
}
.profile-nobio {
  font-style: italic;
  color: rgba(0,0,0,0.5);
}

/* */

/* ---- DAILY DRAW ---- */
.shufflebtn {
  display: inline-block
}
.daily-reveal {
  display: none
}

/* */

/* ---- READING ---- */

.read-reveal {
  display: none
}

/* */

/* ---- JOURNAL ---- */

.journal-main {
  display: flex;
  flex-flow: column-reverse;
}

/* */


/*////////////////////////////*/
/*-------- COMPONENTS --------*/
/*////////////////////////////*/


/* ---- NAVIGATION ---- */

.navbar {
  z-index: 10;
  height: 100%;
  opacity: 1;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: thistle;
  width: 180px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1em 0em;
  transition: all ease-in-out 0.2s;
}

.navbar-logo {
  width: 100px;
  margin:1.5em 0em;
  padding: 1em;
  cursor: pointer;
}

.closebtn {
  position: absolute;
  top: 6px;
  right: 0.25em;
  font-size: 1.5em;
  margin-left: 50px;
  color: black;
  border:none;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.25s;
}

.closebtn:hover {
  color: white;
}

.navbar-btn {
  margin: 1em 0;
}

/* */

/* ---- ENTRY ---- */

.entry-card {
  border: 2px dashed red;
  margin: 1em;
  padding: 0.5em;
}

/* */

/* ---- UNAUTHENTICATED ---- */

.sorry-popup {
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.sorry-center {
  text-align: center;
  width: 30%;
  height: 30%;
  background-color: lavender;
  padding: 1em;
}

/* */